@import "./assets/styles/tailwind.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map-btn:hover > span > svg > path {
  fill: rgba(255, 255, 255, 1);
}

.map-btn-dark:hover > span > svg > path {
  fill: rgba(44, 44, 46, 1);
}

.poi-info-window div {
  font-family: "SF Pro Text";
}
.gm-style {
  font: 400 11px SF Pro Text !important;
}

a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}

.gm-style iframe + div {
  border: none !important;
}
